[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
beautifulsoup4 = "*"
requests = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
pillow = "*"
wordcloud = "*"
python-twitter = "*"

[requires]
python_version = "3.7"
