Jinja2
MarkupSafe
Pygments
Send2Trash
appdirs
appnope
astroid
attrs
backcall
beautifulsoup4
bleach
certifi
decorator
defusedxml
distlib
entrypoints
filelock
flask
flask-uploads
flask_uploads
importlib-metadata
ipykernel
ipython
ipython-genutils
isort
jedi
jsonschema
jupyter-client
jupyter-core
lazy-object-proxy
markovify
mccabe
mistune
nbconvert
nbformat
notebook
packaging
pandocfilters
parso
pexpect
pickleshare
pipenv
prometheus-client
prompt-toolkit
ptyprocess
pylint
pyparsing
pyrsistent
python-dateutil
pyzmq
quote
requests
six
terminado
testpath
toml
tornado
traitlets
tweepy
typed-ast
virtualenv
virtualenv-clone
wcwidth
webencodings
werkzeug
wrapt
zipp
